<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @employee.nome %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @employee.identity %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Function:</strong>
  <%= @employee.function %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
