<%=form_for @car do |f|%>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, id: :car_name %>
	</div>

	<div class="field">
		<%= f.label :brand %>
		<%= f.text_field :brand, id: :car_brand %>
	</div>

	<div class="field">
		<%= f.label :color %>
		<%= f.text_field :color, id: :car_color %>
	</div>

	<div class="field">
		<%= f.label :power %>
		<%= f.text_field :power, id: :car_power %>
	</div>

	<div class="field">
		<%= f.label :category %>
		<%= f.text_field :category, id: :car_category %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>